body{
	background: gray;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
header{
	background: white;
	padding: 10px;
	height: auto;
}

header h1{
	margin: 0;
}
div.post{
	background: white;
	width: 100%;
}

.usuario {
	font-size: 30px;
	padding:  20px;
}
div.post p {
	padding: 10px;
}
div.container{
	width: 640px;
	margin: auto;
}
span {
	float: right;
	color: #8D8D8D;
}
div.iconos {
	padding-left: 10px;
}
div.marca {
	padding-left: 95%;
	position: relative;
	margin-top: -4%;
}

div.opciones {
	padding-left: 95%;
	position: relative;
	margin-top: -4%;
}

.perfil {
	width: 40px;
	height: 40px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

h2 {
	margin-left: 60px;
	margin-top: 10px;
}

h3 {
	margin-left: 80px;
	color: #8D8D8D;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-top: -40px;
}